<%- include("partials/header.ejs") %>

    <form action="/update/<%= post.id %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="username" value="<%= post.name %>">
        <br />
        <br />
        <label for="blog-title">Blog Title:</label>
        <input type="text" id="blog-title" name="title" value="<%= post.title %>">
        <br />
        <br />
        <label for="content">Content</label>
        <textarea name="blog"><%= post.message %></textarea>
        <br />
        <br />
        <button type="submit">Submit</button>
    </form>
    <%- include("partials/footer.ejs") %>