<%- include("partials/header.ejs") %>


    <div class="container">
        <form action="/create" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="username" required>

            <label for="blog-title">Blog Title:</label>
            <input type="text" id="blog-title" name="title" required>

            <label for="content">Content</label>
            <textarea id="content" name="blog" required></textarea>

            <button type="submit">Submit</button>
        </form>

        <% if(posts.length > 0){ %>

            <% posts.forEach((post)=> { %>

                <div class="post-card">

                <h2><%= post.title %></h2>

                <h4>By <%= post.name %></h4>

                <p><%= post.message %></p>

                <a href="/edit/<%= post.id %>">Edit Post</a>

                <form action="/delete/<%= post.id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>

            </div>

            <% }) %>

        <% } %>

    </div>


<%- include("partials/footer.ejs") %>